/* line 1, ../sass/AboutUs.scss */
header {
  background: url(../img/bgHeaderAboutUs.png) no-repeat center;
  background-size: 100%;
}
/* line 5, ../sass/AboutUs.scss */
header .headBody .headline {
  text-align: center;
}
/* line 7, ../sass/AboutUs.scss */
header .headBody .headline h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

/* line 15, ../sass/AboutUs.scss */
.callToAction {
  background: url(../img/bg_callToActionAboutUs.png) no-repeat center;
  background-size: 100%;
  padding: 55px 0px;
}
/* line 19, ../sass/AboutUs.scss */
.callToAction .call-text {
  color: white;
}
/* line 21, ../sass/AboutUs.scss */
.callToAction .call-text h2 {
  color: white;
  font-size: 28px;
  margin: 0;
}
/* line 27, ../sass/AboutUs.scss */
.callToAction .call-text p {
  color: white;
  font-size: 15px;
  font-family: Roboto;
}
/* line 33, ../sass/AboutUs.scss */
.callToAction .call-button {
  position: relative;
  top: -20px;
}
/* line 36, ../sass/AboutUs.scss */
.callToAction .call-button button {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 13px;
  padding: 10px 30px;
  background-color: #49732f;
  border: none;
  text-transform: uppercase;
  color: white;
}

/* line 50, ../sass/AboutUs.scss */
.SectionOurTeam {
  background-color: #eef1ec;
  padding: 40px 0 80px;
}
/* line 55, ../sass/AboutUs.scss */
.SectionOurTeam .container .row .text-workers {
  text-align: center;
}
/* line 57, ../sass/AboutUs.scss */
.SectionOurTeam .container .row .text-workers h2 {
  color: #0f5f5c;
  font-size: 32px;
  background: url(../img/border.png) no-repeat bottom center;
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
}
/* line 65, ../sass/AboutUs.scss */
.SectionOurTeam .container .row .text-workers p {
  color: #83a7a5;
  font-size: 15px;
}
/* line 72, ../sass/AboutUs.scss */
.SectionOurTeam .container .row .co-workers .co-worker .img-worker {
  margin: 50px 0 10px;
}
/* line 73, ../sass/AboutUs.scss */
.SectionOurTeam .container .row .co-workers .co-worker .img-worker img {
  width: 100%;
  min-height: 200px;
  height: fit-content;
}
/* line 80, ../sass/AboutUs.scss */
.SectionOurTeam .container .row .co-workers .co-worker span {
  color: #0f5f5c;
  font-size: 15px;
}
/* line 85, ../sass/AboutUs.scss */
.SectionOurTeam .container .row .co-workers .co-worker p {
  color: #83a7a5;
  font-size: 14px;
}
