/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@media only screen and (max-width: 991px) {
  /* line 6, ../sass/medstyle.scss */
  header {
    background-size: cover;
  }
  /* line 9, ../sass/medstyle.scss */
  header .headBody .headline {
    padding: 146px 0;
  }
  /* line 17, ../sass/medstyle.scss */
  header .headBody .topHead .container .row .components .hone .phone {
    display: none;
  }
  /* line 23, ../sass/medstyle.scss */
  header .headBody .topHead .container .row .nav .menu-trigger {
    display: block;
    margin: auto 0 auto auto;
    background: #f0f8ff00;
    border: 0;
    font-size: 30px;
    color: WHITE;
  }
  /* line 31, ../sass/medstyle.scss */
  header .headBody .topHead .container .row .nav nav {
    margin: 0;
  }
  /* line 33, ../sass/medstyle.scss */
  header .headBody .topHead .container .row .nav nav ul {
    display: none;
  }

  /* line 43, ../sass/medstyle.scss */
  .bestFeatures {
    color: #0f5f5c;
    text-align: center;
    padding: 70px 0;
  }

  /* line 53, ../sass/medstyle.scss */
  .perfectTemplate .container .row div .phone-img {
    width: 90%;
    position: absolute;
    bottom: 0;
  }

  /* line 62, ../sass/medstyle.scss */
  .testimonials {
    display: flex;
    min-height: unset;
    padding: 60px 0;
  }
  /* line 68, ../sass/medstyle.scss */
  .testimonials .container .row .img {
    background: url(../img/ValeriaBoltneva.png) no-repeat center;
    background-size: 150%;
    width: 250px;
    height: 250px;
    border: 1px solid #0f5f5c;
    border-radius: 50%;
    margin: auto;
  }

  /* line 80, ../sass/medstyle.scss */
  .sectionExplanation {
    background: none;
    background-color: #eef1ec;
    padding: 50px;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  /* line 89, ../sass/medstyle.scss */
  .headline {
    padding: 92px 0;
  }

  /* line 96, ../sass/medstyle.scss */
  .pricing .container .row .priceBlock {
    margin: 10px auto;
  }

  /* line 106, ../sass/medstyle.scss */
  .perfectTemplate .container .row div .phone-img {
    display: none;
  }

  /* line 116, ../sass/medstyle.scss */
  .testimonials .container .row .img {
    display: none;
  }
}
