/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/screen.scss */
header {
  background: url(../img/bg-header.png) no-repeat top center;
  background-size: 100%;
}
/* line 10, ../sass/screen.scss */
header .headBody {
  background-color: #0f5f5cbf;
  color: white;
}
/* line 13, ../sass/screen.scss */
header .headBody .topHead {
  box-shadow: 0px 50px 60px -32px #000000 inset;
}
/* line 16, ../sass/screen.scss */
header .headBody .topHead .container .row {
  border-bottom: 1px solid white;
}
/* line 18, ../sass/screen.scss */
header .headBody .topHead .container .row .components {
  display: flex;
  margin: 15px 0;
}
/* line 21, ../sass/screen.scss */
header .headBody .topHead .container .row .components .logo {
  font-size: 29px;
  margin: auto;
}
/* line 25, ../sass/screen.scss */
header .headBody .topHead .container .row .components .hone {
  display: flex;
  margin: auto 0 auto 10px;
  border-left: 1px solid #e4e3e0;
  padding-left: 10px;
}
/* line 31, ../sass/screen.scss */
header .headBody .topHead .container .row .components .hone img {
  height: 14px;
  margin: auto 5px auto 0;
}
/* line 36, ../sass/screen.scss */
header .headBody .topHead .container .row .components .hone .phone {
  margin: auto;
}
/* line 42, ../sass/screen.scss */
header .headBody .topHead .container .row .nav .menu-trigger {
  display: none;
}
/* line 46, ../sass/screen.scss */
header .headBody .topHead .container .row .nav nav {
  display: flex;
  margin: auto 0 auto auto;
}
/* line 49, ../sass/screen.scss */
header .headBody .topHead .container .row .nav nav ul {
  margin: auto;
  padding: 0;
}
/* line 52, ../sass/screen.scss */
header .headBody .topHead .container .row .nav nav ul li {
  float: left;
  list-style-type: none;
  margin: 0 2px;
}
/* line 56, ../sass/screen.scss */
header .headBody .topHead .container .row .nav nav ul li a {
  padding: 10px 15px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 65, ../sass/screen.scss */
header .headBody .topHead .container .row .nav nav ul li a:hover {
  background-color: #ffffff59;
  padding: 10px 15px;
}
/* line 76, ../sass/screen.scss */
header .headBody .headline {
  padding: 150px 0;
}
/* line 79, ../sass/screen.scss */
header .headBody .headline button {
  cursor: pointer;
  color: white;
  font-size: 14px;
  background-color: #6fb048;
  padding: 8px 45px;
  text-transform: uppercase;
  border: none;
}

/* line 92, ../sass/screen.scss */
.bestFeatures {
  color: #0f5f5c;
  text-align: center;
  padding: 70px 0 90px 0;
}
/* line 98, ../sass/screen.scss */
.bestFeatures .container .row h2 {
  background: url(../img/border.png) no-repeat bottom center;
  font-size: 32px;
  padding: 0 0 10px 0;
}
/* line 104, ../sass/screen.scss */
.bestFeatures .container .row .ionicons {
  height: 56px;
  position: relative;
  margin-top: 50px;
}
/* line 108, ../sass/screen.scss */
.bestFeatures .container .row .ionicons img {
  position: relative;
  top: 50%;
  margin-top: -13%;
}
/* line 115, ../sass/screen.scss */
.bestFeatures .container .row p {
  color: #83a7a5;
}

/* line 122, ../sass/screen.scss */
.others {
  padding: 0 0 90px 0;
}
/* line 126, ../sass/screen.scss */
.others .container .row .ico {
  display: flex;
  min-height: 3em;
}
/* line 129, ../sass/screen.scss */
.others .container .row .ico h3 {
  color: #0f5f5c;
  font-size: 16px;
  margin: auto 0 auto;
}
/* line 135, ../sass/screen.scss */
.others .container .row .ico img {
  vertical-align: middle;
  border-style: none;
  height: 37px;
  margin: auto 20px auto 0;
}
/* line 142, ../sass/screen.scss */
.others .container .row p {
  color: #83a7a5;
}

/* line 149, ../sass/screen.scss */
.perfectTemplate {
  background-color: #eef1ec;
  padding-top: 45px;
}
/* line 153, ../sass/screen.scss */
.perfectTemplate .container .row {
  color: #0f5f5c;
  display: flex;
}
/* line 156, ../sass/screen.scss */
.perfectTemplate .container .row h2 {
  background: url(../img/border.png) no-repeat bottom center;
  font-size: 32px;
  text-align: center;
  padding: 0 0 10px 0;
}
/* line 164, ../sass/screen.scss */
.perfectTemplate .container .row p {
  text-align: center;
}
/* line 169, ../sass/screen.scss */
.perfectTemplate .container .row div img {
  width: 380px;
}
/* line 175, ../sass/screen.scss */
.perfectTemplate .container .row .responsiveReady {
  margin: auto;
}
/* line 177, ../sass/screen.scss */
.perfectTemplate .container .row .responsiveReady p {
  text-align: left;
}
/* line 180, ../sass/screen.scss */
.perfectTemplate .container .row .responsiveReady ul {
  padding: 0;
}
/* line 182, ../sass/screen.scss */
.perfectTemplate .container .row .responsiveReady ul li {
  list-style: none;
  line-height: 2.2;
}
/* line 185, ../sass/screen.scss */
.perfectTemplate .container .row .responsiveReady ul li img {
  padding: 0 10px 0 0;
  width: 36px;
}

/* line 196, ../sass/screen.scss */
.testimonials {
  display: flex;
  min-height: 40em;
}
/* line 199, ../sass/screen.scss */
.testimonials .container {
  margin: auto;
}
/* line 202, ../sass/screen.scss */
.testimonials .container .row .commentText {
  display: flex;
}
/* line 204, ../sass/screen.scss */
.testimonials .container .row .commentText div {
  margin: auto;
  color: #83a7a5;
}
/* line 207, ../sass/screen.scss */
.testimonials .container .row .commentText div .comment {
  font-size: 22px;
}
/* line 211, ../sass/screen.scss */
.testimonials .container .row .commentText div .commentName {
  color: #6fb048;
  font-size: 14px;
  margin: 0;
}
/* line 217, ../sass/screen.scss */
.testimonials .container .row .commentText div .commentPosition {
  font-size: 14px;
}
/* line 223, ../sass/screen.scss */
.testimonials .container .row .img {
  background: url(../img/ValeriaBoltneva.png) no-repeat center;
  width: 350px;
  height: 350px;
  border: 1px solid #0f5f5c;
  border-radius: 50%;
  margin: auto;
}

/* line 235, ../sass/screen.scss */
.sectionExplanation {
  background: url(../img/dottedWorldMap.png) no-repeat 90% center #eef1ec;
  display: flex;
  height: 30em;
}
/* line 239, ../sass/screen.scss */
.sectionExplanation .container {
  margin: auto;
}
/* line 243, ../sass/screen.scss */
.sectionExplanation .container .row .sectionText h3 {
  color: #0f5f5c;
  font-size: 32px;
}
/* line 247, ../sass/screen.scss */
.sectionExplanation .container .row .sectionText p {
  color: #83a7a5;
  font-size: 14px;
}

/* line 256, ../sass/screen.scss */
.top60 {
  padding-top: 60px;
}

/* line 260, ../sass/screen.scss */
.pricing {
  text-align: center;
  padding: 0 0 60px 0;
}
/* line 263, ../sass/screen.scss */
.pricing h3 {
  font-size: 1.75rem;
  background: url(../img/border.png) no-repeat bottom center;
  color: #0f5f5c;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}
/* line 271, ../sass/screen.scss */
.pricing p {
  color: #83a7a5;
}
/* line 277, ../sass/screen.scss */
.pricing .container .row .priceBlock {
  text-align: center;
  border: 1px solid #83a7a5;
  padding: 30px 0;
  margin: auto;
}
/* line 282, ../sass/screen.scss */
.pricing .container .row .priceBlock ul {
  list-style: none;
  padding: 0;
}
/* line 285, ../sass/screen.scss */
.pricing .container .row .priceBlock ul li {
  color: #83a7a5;
  font-size: 14px;
  line-height: 2;
}
/* line 292, ../sass/screen.scss */
.pricing .container .row .priceBlock button {
  cursor: pointer;
  background-color: #83a7a5;
  border: none;
  color: white;
  padding: 6px 20px;
  text-transform: uppercase;
}
/* line 301, ../sass/screen.scss */
.pricing .container .row .priceBlock button:hover {
  background-color: #6fb048;
}
/* line 306, ../sass/screen.scss */
.pricing .container .row h2 {
  background: url(../img/border.png) no-repeat bottom center;
  color: #0f5f5c;
  text-align: center;
  margin: 0 0 20px 0;
}
/* line 313, ../sass/screen.scss */
.pricing .container .row .help {
  text-align: center;
}
/* line 315, ../sass/screen.scss */
.pricing .container .row .help h2 {
  color: #6fb048;
  font-size: 32px;
  border-image-source: url(../img/border.png) no-repeat center;
  border-top: 2px solid transparent;
  padding: 15px;
  border-image-source: url(../img/border.png);
}
/* line 324, ../sass/screen.scss */
.pricing .container .row .help p {
  color: #83a7a5;
  font-size: 15px;
}
/* line 329, ../sass/screen.scss */
.pricing .container .row .help .email {
  color: #0f5f5c;
  font-size: 18px;
}
/* line 335, ../sass/screen.scss */
.pricing .container .row ul.col {
  list-style: none;
}
/* line 338, ../sass/screen.scss */
.pricing .container .row ul.col li {
  line-height: 2.2;
  text-align: left;
}
/* line 342, ../sass/screen.scss */
.pricing .container .row ul.col li img {
  padding: 0 10px 0 0;
}

/* line 351, ../sass/screen.scss */
.callToAction {
  background: url(../img/bg_callToAction.png) no-repeat center;
  padding: 55px 0px;
}
/* line 355, ../sass/screen.scss */
.callToAction .call-text h2 {
  color: #0f5f5c;
  font-size: 28px;
  margin: 0;
}
/* line 361, ../sass/screen.scss */
.callToAction .call-text p {
  color: #83a7a5;
  font-size: 15px;
  font-family: Roboto;
}
/* line 367, ../sass/screen.scss */
.callToAction .call-button {
  position: relative;
  top: -20px;
}
/* line 370, ../sass/screen.scss */
.callToAction .call-button button {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 13px;
  padding: 10px 30px;
  background-color: #6fb048;
  border: none;
  text-transform: uppercase;
  color: white;
}

/* line 384, ../sass/screen.scss */
.widget-area {
  padding: 60px 0 40px;
}
/* line 388, ../sass/screen.scss */
.widget-area .container .row .logo {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}
/* line 395, ../sass/screen.scss */
.widget-area .container .row .email {
  color: #0f5f5c;
}
/* line 399, ../sass/screen.scss */
.widget-area .container .row h3 {
  color: #0f5f5c;
  font-size: 13px;
  margin-top: 9px;
}
/* line 405, ../sass/screen.scss */
.widget-area .container .row p {
  color: #0f5f5c;
  font-size: 12px;
}
/* line 410, ../sass/screen.scss */
.widget-area .container .row ul {
  padding: 0;
}
/* line 412, ../sass/screen.scss */
.widget-area .container .row ul li {
  color: #83a7a5;
  font-size: 12px;
  list-style: none;
  line-height: 2.2;
}
/* line 420, ../sass/screen.scss */
.widget-area .container .row form {
  background-color: #eef1ec;
  border: 1px solid #eef1ec;
  display: flex;
}
/* line 424, ../sass/screen.scss */
.widget-area .container .row form input {
  background-color: #f0f8ff00;
  border: none;
  color: #83a7a5;
  font-size: 12px;
  outline: none;
  padding: 6px 0 6px 6px;
}
/* line 433, ../sass/screen.scss */
.widget-area .container .row form img {
  margin: auto 6px auto auto;
}

/* line 444, ../sass/screen.scss */
footer .container .row .fut-con {
  border-top: 2px solid #eef1ec;
  display: flex;
  padding: 10px 0;
}
/* line 448, ../sass/screen.scss */
footer .container .row .fut-con p {
  color: #83a7a5;
  font-size: 12px;
  margin: auto 0;
}
/* line 454, ../sass/screen.scss */
footer .container .row .fut-con ul {
  margin: auto 0 auto auto;
}
/* line 456, ../sass/screen.scss */
footer .container .row .fut-con ul li {
  border-radius: 50%;
  float: right;
  list-style: none;
  margin: 0 7px;
}
