header {
    background: url(../img/bgHeaderAboutUs.png) no-repeat center;
    background-size: 100%;
    .headBody{
        .headline {
            text-align: center;
            h1 {
                font-size: 50px;
                margin-bottom: 40px;
            }
        }
    }
}

.callToAction {
    background: url(../img/bg_callToActionAboutUs.png)no-repeat center;
    background-size: 100%;
    padding: 55px 0px;
    .call-text {
        color: white;
        h2 {
            color: white;
            font-size: 28px;
            margin: 0;
        }

        p {
            color: white;
            font-size: 15px;
            font-family: Roboto;
        }
    }
    .call-button {
        position: relative;
        top: -20px;
        button {
            position: absolute;
            top: 50%;
            right: 0;
            font-size: 13px;
            padding: 10px 30px;
            background-color: #49732f;
            border: none;
            text-transform: uppercase;
            color: white;
        }
    }
}

.SectionOurTeam {
    background-color: #eef1ec;
    padding: 40px 0 80px;
    .container {
        .row {
            .text-workers {
                text-align: center;
                h2 {
                    color: #0f5f5c;
                    font-size: 32px;
                    background: url(../img/border.png) no-repeat bottom center;
                    padding: 0 0 10px 0;
                    margin: 0 0 20px 0;
                }

                p {
                    color: #83a7a5;
                    font-size: 15px;
                }
            }
            .co-workers {
                .co-worker {
                    .img-worker {
                        img {
                            width: 100%;
                            min-height: 200px;
                            height: fit-content;
                        }
                        margin: 50px 0 10px;
                    }
                    span {
                        color: #0f5f5c;
                        font-size: 15px;
                    }

                    p {
                        color: #83a7a5;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}