/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@media only screen and (max-width: 991px) {
  header {
    background-size: cover;
    .headBody{
      .headline {
        padding: 146px 0;
      }
      .topHead {
        .container {
          .row {
            .components {
              .hone {
                .phone {
                  display: none;
                }
              }
            }
            .nav{
              .menu-trigger {
                display: block;
                margin: auto 0 auto auto;
                background: #f0f8ff00;
                border: 0;
                font-size: 30px;
                color: WHITE;
              }
              nav {
                margin: 0;
                ul {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .bestFeatures {
    color: #0f5f5c;
    text-align: center;
    padding: 70px 0;
  }

  .perfectTemplate {
    .container {
      .row {
        div {
          .phone-img {
            width: 90%;
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
  }
  .testimonials {
    display: flex;
    min-height: unset;
    padding: 60px 0;
    .container {
      .row {
        .img {
          background: url(../img/ValeriaBoltneva.png) no-repeat center;
          background-size: 150%;
          width: 250px;
          height: 250px;
          border: 1px solid #0f5f5c;
          border-radius: 50%;
          margin: auto;
        }
      }
    }
  }
  .sectionExplanation {
    background: none;
    background-color: #eef1ec;
    padding: 50px;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .headline {
    padding: 92px 0;
  }

  .pricing {
    .container {
      .row {
        .priceBlock {
          margin: 10px auto;
        }
      }
    }
  }
  .perfectTemplate {
    .container {
      .row {
        div {
          .phone-img {
            display: none;
          }
        }
      }
    }
  }
  .testimonials {
    .container {
      .row {
        .img {
          display: none;
        }
      }
    }
  }
}