/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
header {
    background: url(../img/bg-header.png) no-repeat top center;
    background-size: 100%;
    .headBody{
        background-color: #0f5f5cbf;
        color: white;
        .topHead {
            box-shadow: 0px 50px 60px -32px #000000 inset;
            .container {
                .row {
                    border-bottom: 1px solid white;
                    .components {
                        display: flex;
                        margin: 15px 0;
                        .logo {
                            font-size: 29px;
                            margin: auto;
                        }
                        .hone {
                            display: flex;
                            margin: auto 0 auto 10px;
                            border-left: 1px solid #e4e3e0;
                            padding-left: 10px;
                        
                            img {
                                height: 14px;
                                margin: auto 5px auto 0;
                            }

                            .phone {
                                margin: auto;
                            }
                        }
                    }
                    .nav {
                        .menu-trigger {
                            display: none;
                        }

                        nav {
                            display: flex;
                            margin: auto 0 auto auto;
                            ul {
                                margin: auto;
                                padding: 0;
                                li {
                                    float: left;
                                    list-style-type: none;
                                    margin: 0 2px;
                                    a {
                                        padding: 10px 15px;
                                        color: white;
                                        font-size: 13px;
                                        font-weight: 700;
                                        text-transform: uppercase;
                                        text-decoration: none;
                                    }
                                    
                                    a:hover {
                                        background-color: #ffffff59;
                                        padding: 10px 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .headline {
            padding: 150px 0;

            button {
                cursor: pointer;
                color: white;
                font-size: 14px;
                background-color: #6fb048;
                padding: 8px 45px;
                text-transform: uppercase;
                border: none;
            }
        }
    }
}

.bestFeatures {
    color: #0f5f5c;
    text-align: center;
    padding: 70px 0 90px 0;
    .container {
        .row {
            h2 {
                background: url(../img/border.png) no-repeat bottom center;
                font-size: 32px;
                padding: 0 0 10px 0;
            }

            .ionicons {
                height: 56px;
                position: relative;
                margin-top: 50px;
                img {
                    position: relative;
                    top: 50%;
                    margin-top: -13%;
                }
            }

            p {
                color: #83a7a5;
            }
        }
    }
}

.others {
    padding: 0 0 90px 0;
    .container {
        .row {
            .ico {
                display: flex;
                min-height: 3em;
                h3 {
                    color: #0f5f5c;
                    font-size: 16px;
                    margin: auto 0 auto;
                }

                img {
                    vertical-align: middle;
                    border-style: none;
                    height: 37px;
                    margin: auto 20px auto 0;
                }
            }
            p {
                color: #83a7a5;
            }
        }
    }
}

.perfectTemplate {
    background-color: #eef1ec;
    padding-top: 45px;
    .container {
        .row {
            color: #0f5f5c;
            display: flex;
            h2 {
                background: url(../img/border.png) no-repeat bottom center;
                font-size: 32px;
                text-align: center;
                padding: 0 0 10px 0;

            }

            p {
                text-align: center;
            }

            div {
                img {
                    width: 380px;
                }
            }


            .responsiveReady {
                margin: auto;
                p {
                    text-align: left;
                }
                ul {
                    padding: 0;
                    li {
                        list-style: none;
                        line-height: 2.2;
                        img {
                            padding: 0 10px 0 0;
                            width: 36px;
                        }
                    }
                }
            }
        }
    }
}

.testimonials {
    display: flex;
    min-height: 40em;
    .container {
        margin: auto;
        .row {
            .commentText {
                display: flex;
                div {
                    margin: auto;
                    color: #83a7a5;
                    .comment {
                        font-size: 22px;
                    }

                    .commentName {
                        color: #6fb048;
                        font-size: 14px;
                        margin: 0;
                    }

                    .commentPosition {
                        font-size: 14px
                    }
                }
            }

            .img {
                background: url(../img/ValeriaBoltneva.png) no-repeat center;
                width: 350px;
                height: 350px;
                border: 1px solid #0f5f5c;
                border-radius: 50%;
                margin: auto;
            }
        }
    }
}

.sectionExplanation {
    background: url(../img/dottedWorldMap.png) no-repeat 90% center #eef1ec;
    display: flex;
    height: 30em;
    .container {
        margin: auto;
        .row {
            .sectionText {
                h3 {
                    color: #0f5f5c;
                    font-size: 32px;
                }
                p {
                    color: #83a7a5;
                    font-size: 14px;
                }
            }
        }
    }
}

.top60 {
    padding-top: 60px;
}

.pricing {
    text-align: center;
    padding: 0 0 60px 0;
    h3 {
        font-size: 1.75rem;
        background: url(../img/border.png) no-repeat bottom center;
        color: #0f5f5c;
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
    }

    p {
        color: #83a7a5;
    }
    
    .container {
        .row {
            .priceBlock {
                text-align: center;
                border: 1px solid #83a7a5;
                padding: 30px 0;
                margin: auto;
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        color: #83a7a5;
                        font-size: 14px;
                        line-height: 2;
                    }
                }

                button {
                    cursor: pointer;
                    background-color: #83a7a5;
                    border: none;
                    color: white;
                    padding: 6px 20px;
                    text-transform: uppercase;
                }

                button:hover {
                    background-color: #6fb048;
                }
            }

            h2 {
                background: url(../img/border.png) no-repeat bottom center;
                color: #0f5f5c;
                text-align: center;
                margin: 0 0 20px 0;
            }

            .help {
                text-align: center;
                h2 {
                    color: #6fb048;
                    font-size: 32px;
                    border-image-source: url(../img/border.png) no-repeat center;
                    border-top: 2px solid transparent;
                    padding: 15px;
                    border-image-source: url(../img/border.png);
                }
        
                p {
                    color: #83a7a5;
                    font-size: 15px;
                }
        
                .email {
                    color: #0f5f5c;
                    font-size: 18px;
                }
            }

            ul.col {
                    //list-style-image: url(../img/checkMark.png);
                    list-style: none;
                li {
                    line-height: 2.2;
                    text-align: left;

                    img {
                        padding: 0 10px 0 0;
                    }
                }
            }
        }
    }
}

.callToAction {
    background: url(../img/bg_callToAction.png)no-repeat center;
    padding: 55px 0px;
    .call-text {
        h2 {
            color: #0f5f5c;
            font-size: 28px;
            margin: 0;
        }

        p {
            color: #83a7a5;
            font-size: 15px;
            font-family: Roboto;
        }
    }
    .call-button {
        position: relative;
        top: -20px;
        button {
            position: absolute;
            top: 50%;
            right: 0;
            font-size: 13px;
            padding: 10px 30px;
            background-color: #6fb048;
            border: none;
            text-transform: uppercase;
            color: white;
        }
    }
}

.widget-area {
    padding: 60px 0 40px;
    .container {
        .row {
            .logo {
                font-size: 22px;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
            }

            .email {
                color: #0f5f5c;
            }

            h3 {
                color: #0f5f5c;
                font-size: 13px;
                margin-top: 9px;
            }

            p {
                color: #0f5f5c;
                font-size: 12px;
            }

            ul {
                padding: 0;
                li {
                    color: #83a7a5;
                    font-size: 12px;
                    list-style: none;
                    line-height: 2.2;
                }
            }

            form {
                background-color: #eef1ec;
                border: 1px solid #eef1ec;
                display: flex;
                input {
                    background-color: #f0f8ff00;
                    border: none;
                    color: #83a7a5;
                    font-size: 12px;
                    outline: none;
                    padding: 6px 0 6px 6px;
                }

                img {
                    margin: auto 6px auto auto;
                }
            }
        }
    }
}

footer {
    .container {
        .row {
            .fut-con {
                border-top: 2px solid #eef1ec;
                display: flex;
                padding: 10px 0;
                p {
                    color: #83a7a5;
                    font-size: 12px;
                    margin: auto 0;
                }

                ul {
                    margin: auto 0 auto auto;
                    li {
                        border-radius: 50%;
                        float: right;
                        list-style: none;
                        margin: 0 7px;
                    }
                }
            }
        }
    }
}
